@import "tailwindcss";

@theme {
  --font-petrona: "Petrona", serif;
  --font-roboto: "Roboto Flex", sans-serif;
  --animate-spin: spin 20s linear infinite;
  --font-weight-light: 300;
  --font-weight-normal: 400;
}
